@use "./modules/_variables"

main
    padding: 100px 130px 0 130px

.header-container
    display: flex
    width: 100%
    
    header
        width: 50%
        align-self: flex-start
        h1
            width: 100%
            height: auto
            margin-top: 0
            text-align: left
            font-size: variables.$font-size + 2rem 
    
.description
    width: 100%
    margin-top: 10px
    text-align: left

    p
        width: 30vw

.stars
    width: 50%
    margin-top: 30px
    margin-left: 10px
    text-align: left

    %__opinion

.cards
    flex-direction: row

    &__card
        max-height: 250px
