@use 'modules/_variables'
// #################################### //
*
    box-sizing: border-box
    margin: 0
    padding: 0
html
    font-size: 62.5%
    font-family: variables.$font-stack
// #################################### //
main
    display: flex
    flex-direction: column
    align-items: center
    min-height: 1400px
    width: 100%
    padding: 10px
    text-align: center
    background-color: variables.$white

    header
        h1
            margin-top: 70px
            font-size: variables.$font-size + 1.2rem
            color: variables.$dark-magenta

.description
    margin-top: 30px

    p
        font-size: variables.$font-size - 0.2rem
        font-weight: variables.$font-normal
        line-height: variables.$font-size + .9rem
        color: grey

.stars
    margin-top: 40px

    &__opinion
        margin-bottom: 40px

        p
            font-size: variables.$font-size - 0.3rem
            font-weight: variables.$font-bold
            color: variables.$dark-magenta
        
        .icon-stars__container
            img
                width: 21px
                height: 21px
                padding: 0 5px 8px 0


.cards
    display: flex
    align-items: center
    flex-direction: column 
    margin-top: 10px    

    &__card
        width: 93%
        max-width: 330.14px
        height: 220px
        margin-bottom: 15px
        background-color: variables.$dark-magenta
        color: variables.$white
        border-radius: 6px

        &--review
            display: flex
            margin: 35px 20px
            
            img
                height: 35px
                margin-right: 18px
                border-radius: 50%

            &__user
                h3, h4
                    margin-top: 2px
                h4
                    text-align: left
                    font-size: variables.$font-size - 3rem
                    font-weight: variables.$font-light
                    color: variables.$soft-pink
        p
            width: 86%
            margin: 0 auto
            margin-top: 20px
            text-align: left
            font-size: variables.$font-size - .455555rem
            font-weight: variables.$font-normal
            line-height: 20px

footer
    display: flex
    justify-content: center
    align-items: center
    height: 30px
    background-color: variables.$soft-pink 
    font-weight: variables.$font-bold
    color: variables.$white

    a
        color: variables.$dark-magenta
