// Colors
$dark-magenta: hsl(300, 43%, 22%)
$soft-pink: hsl(333, 80%, 67%)
$dark-grayish-magenta: hsl(303, 10%, 53%)
$light-grayish-magenta: hsl(300, 24%, 96%)
$white: hsl(0, 0%, 100%)
//Font
$font-size: 1.5rem
$font-stack: 'Spartan', sans-serif
$font-light: 400
$font-normal: 500
$font-bold: 700
// #################################### //
*
    box-sizing: border-box
    margin: 0
    padding: 0
html
    font-size: 62.5%
    font-family: $font-stack
// #################################### //
main
    display: flex
    flex-direction: column
    align-items: center
    min-height: 1530px
    width: 100%
    //padding: 15px
    text-align: center
    background-color: $white

    h1
        width: 80%
        margin-top: 70px
        font-size: $font-size + 1.2rem
        color: $dark-magenta

    h2
        width: 95%
        margin-top: 30px
        text-align: center
        font-size: $font-size - .2rem
        font-weight: $font-light
        line-height: $font-size + .5rem

.cards
    &__review
        background-color: $dark-magenta
