// Colors
$dark-magenta: hsl(300, 43%, 22%)
$soft-pink: hsl(333, 80%, 67%)
$dark-grayish-magenta: hsl(303, 10%, 53%)
$light-grayish-magenta: hsl(300, 24%, 96%)
$white: hsl(0, 0%, 100%)
//Font
$font-size: 1.5rem
$font-stack: 'Spartan', sans-serif
$font-light: 400
$font-normal: 500
$font-bold: 700
// #################################### //
*
    box-sizing: border-box
    margin: 0
    padding: 0
html
    font-size: 62.5%
    font-family: $font-stack
// #################################### //
main
    display: flex
    flex-direction: column
    align-items: center
    min-height: 1400px
    width: 100%
    padding: 10px
    text-align: center
    background-color: $white

    h1
        width: 80%
        margin-top: 70px
        font-size: $font-size + 1.2rem
        color: $dark-magenta

.description
    margin-top: 30px

    p
        font-size: $font-size - 0.2rem
        font-weight: $font-normal
        line-height: $font-size + .9rem
        color: grey

.stars
    margin-top: 40px

    &__opinion
        margin-bottom: 40px

        p
            font-size: $font-size - 0.3rem
            font-weight: $font-bold
            color: $dark-magenta
        
        .icon-stars__container
            img
                width: 21px
                height: 21px
                padding: 0 5px 8px 0

.cards
    display: flex
    align-items: center
    flex-direction: column 
    margin-top: 10px    

    &__card
        width: 93%
        max-width: 330.14px
        heigh: auto
        //min-height: 220px
        margin-bottom: 15px
        background-color: $dark-magenta
        color: $white
        border-radius: 6px

        &--review
            display: flex
            margin: 35px 30px
            
            img
                height: 35px
                margin-right: 18px
                border-radius: 50%

            &__user
                h3, h4
                    margin-top: 2px
                h4
                    text-align: left
                    font-size: $font-size - 3rem
                    font-weight: $font-light
                    color: $soft-pink
        p
            width: 80%
            margin: 0 auto
            margin-top: 20px
            margin-bottom: 25px 
            text-align: left
            font-size: $font-size - .455555rem
            font-weight: $font-normal
            line-height: 20px

footer
    display: flex
    justify-content: center
    align-items: center
    height: 30px
    background-color: $soft-pink 
    font-weight: $font-bold
    color: $white

    a
        color: $dark-magenta
